[submodule "fasterrcnn-pytorch-training-pipeline"]
	path = fasterrcnn-pytorch-training-pipeline
	url = https://github.com/sovit-123/fasterrcnn-pytorch-training-pipeline
[submodule "RefineDet"]
	path = RefineDet
	url = https://github.com/sfzhang15/RefineDet.git
[submodule "refinedet.pytorch"]
	path = refinedet.pytorch
	url = https://github.com/dd604/refinedet.pytorch
[submodule "Aged-Building/models/detr"]
	path = Aged-Building/models/detr
	url = https://github.com/facebookresearch/detr
[submodule "Aged-Building/ReactNativeApp-for-DL"]
	path = Aged-Building/ReactNativeApp-for-DL
	url = https://github.com/twinklespirit/ReactNativeApp-for-DL
[submodule "ReactNativeApp-for-DL"]
	path = ReactNativeApp-for-DL
	url = https://github.com/twinklespirit/ReactNativeApp-for-DL/
