[submodule "fasterrcnn-pytorch-training-pipeline"]
	path = fasterrcnn-pytorch-training-pipeline
	url = https://github.com/sovit-123/fasterrcnn-pytorch-training-pipeline
[submodule "RefineDet"]
	path = RefineDet
	url = https://github.com/sfzhang15/RefineDet.git
